.navbar-brand { height: auto;margin-top: 10px; }

.navbar-collapse { margin-top: 25px; }

.th-docs-header--masthead {
  background: #8fc9f1;
  /* Old browsers */
  background: url(../images/flavor-bg.jpg) repeat top center;
  color: #5196B9;
  padding: 80px 15px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.th-docs-header--masthead h1, .th-docs-header--masthead p {
  margin-left: auto;
  margin-right: auto;
}

.th-docs-header--masthead h1 {
  color: #fff;
  font-weight: 300;
  line-height: 1;
  margin-top: 20px;
}

.th-docs-header--masthead .lead {
  color: #fff;
  font-size: 30px;
  margin: 0 auto 30px;
  width: 80%;
}

.th-flavor { color: #fff; }

.th-flavor__icon { color: #fff; }

.th-flavor__icon:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.th-flavor__description {
  font-size: 12px;
  font-size: 1.2rem;
}

.th-flavor__build {
  font-size: 12px;
  font-size: 1.2rem;
  padding: 15px 0;
}

.th-flavor__build a {
  color: #fff;
  text-decoration: underline;
}

.th-flavor__build a:hover { text-decoration: none; }