.navbar-brand {
  padding: 8px; }

.th-docs-header--masthead {
  position: relative;
  padding: 80px 15px;
  color: #5196B9;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #8fc9f1;
  /* Old browsers */
  background: url(../images/flavor-bg.jpg) repeat top center; }
  .th-docs-header--masthead h1, .th-docs-header--masthead p {
    margin-left: auto;
    margin-right: auto; }
  .th-docs-header--masthead h1 {
    margin-top: 20px;
    font-weight: 300;
    line-height: 1;
    color: #fff; }
  .th-docs-header--masthead .lead {
    width: 80%;
    font-size: 30px;
    margin: 0 auto 30px;
    color: #fff; }

.th-flavor {
  color: #fff; }
  .th-flavor__icon {
    color: #fff; }
    .th-flavor__icon:hover {
      color: #f1f1f1;
      text-decoration: none; }
  .th-flavor__description {
    font-size: 12px;
    font-size: 1.2rem; }
  .th-flavor__build {
    padding: 15px 0;
    font-size: 12px;
    font-size: 1.2rem; }
    .th-flavor__build a {
      color: #fff;
      text-decoration: underline; }
      .th-flavor__build a:hover {
        text-decoration: none; }
